<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Responsive Template + Admin" />
    <meta name="description" content="Crizal - Multipurpose Responsive Template + Admin" />

    <!-- title  -->
    <title>Crizal - Multipurpose Responsive Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- COMING SOON
        ================================================== -->
        <section class="p-0">
            <div class="container-fluid d-flex flex-column">
                <div class="row align-items-center justify-content-center min-vh-100">

                    <div class="col-11 col-md-8 col-lg-5 col-xl-4 text-center my-1-9 my-lg-0">
                        <img src="img/content/coming-soon.png" alt="...">
                    </div>

                    <div class="col-md-8 col-lg-6 col-xl-5 text-center text-lg-start mb-1-9 mb-lg-0">

                        <div class="ps-xl-1-9">

                            <div class="mb-1-9">
                                <h1>We're coming soon.</h1>
                                <p class="lead w-lg-75 mx-auto mx-lg-0">Our website is under construction. We'll be here soon with our new awesome site.</p>
                            </div>

                            <!-- Countdown -->
                            <div class="mb-1-9">

                                <ul class="countdown ps-0">

                                    <!-- Days -->
                                    <li><span class="days">00</span>
                                        <p class="timeRefDays">days</p>
                                    </li>
                                    <!-- End Days -->

                                    <!-- Hours -->
                                    <li><span class="hours">00</span>
                                        <p class="timeRefHours">hours</p>
                                    </li>
                                    <!-- End Hours -->

                                    <!-- Minutes -->
                                    <li><span class="minutes">00</span>
                                        <p class="timeRefMinutes">minutes</p>
                                    </li>
                                    <!-- End Minutes -->

                                    <!-- Seconds -->
                                    <li><span class="seconds">00</span>
                                        <p class="timeRefSeconds">seconds</p>
                                    </li>
                                    <!-- End Seconds -->

                                </ul>
                            </div>
                            <!-- End Countdown -->

                            <ul class="social-icon-style9 ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!-- wow js -->
    <script src="js/wow.js"></script>

    <!-- tilt js -->
    <script src="js/tilt.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!-- lightgallery js -->
    <script src="js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="js/jquery.mousewheel.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>