<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Responsive Template + Admin" />
    <meta name="description" content="Crizal - Multipurpose Responsive Template + Admin" />

    <!-- title  -->
    <title>Crizal - Multipurpose Responsive Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins/default.css">
    <link rel="stylesheet" href="css/plugins/fontawesome-all.min.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- index css -->
    <link href="css/index.css" rel="stylesheet">

</head>

<body>

    <!-- INTRO
    ================================================== -->
    <section class="main-banner bg-animate py-sm-17 py-md-14" style="background-image: url(img/demos/index-bg.jpg);">
        <div class="container position-relative z-index-9">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="logo-index">
                        <img src="img/logos/logo-inner.png" alt="...">
                    </div>
                    <h2 class="mb-4 font-weight-700 text-white-90 text-white">Crizal - Multipurpose Responsive Template + Admin</h2>
                    <h3 class="page-title mb-2-2 font-weight-400 text-white opacity9">23+ Prebuilt Home Demos . 250+ HTML Pages . 03+ One Page Demos . Shop Pages . Admin . 250+ Reusable Elements and Features . Lightweight . Easy to Customize . Click to Copy Elements . Bootstrap 5.x . Revolution Slider . Image Gallery . Creative Design . Free Updates . Working Contact, Newsletter Forms and Search Functionality.</h3>
                    <ul class="intro-listing animate-redirect">
                        <li><a href="#homepages">Home Pages</a></li>
                        <li><a href="#onepages">One Pages</a></li>
                        <li><a href="#admin">Admin</a></li>
                        <li><a href="#shop">Shop</a></li>
                        <li><a href="#elements">Elements</a></li>
                        <li><a href="#innerpage">Innerpage</a></li>
                    </ul>
                    <a href="#" target="_blank" class="butn primary white-hover text-uppercase"><span>Purchase Now</span></a>
                </div>
            </div>
        </div>
    </section>

    <!-- MULTI PAGE DEMO
    ================================================== -->
    <section id="homepages" class="md">

        <div class="mb-8">
            <h3 class="large-title"><span class="countup">23</span>+</h3>
            <h2 class="sm-title">Prebuilt Demos</h2>
        </div>

        <div class="bg-light mx-lg-1-9 pb-12 pt-10">
            <h2 class="h1 fw-bold text-center mb-5">New Demos</h2>
            <div class="container-fluid px-lg-16">
                <div class="row mt-n7 gx-xxl-5 text-center">

                    <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                        <a href="home-startup.html" target="_blank">
                            <div class="demo-grid-wrapper">
                                <img src="img/demos/14.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                                <h3>Home 14</h3>
                                <span class="small font-weight-600">Startup Business, Classic</span>
                            </div>
                        </a>
                        <blink class="blue">New</blink>
                    </div>

                    <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                        <a href="home-marketing-agency.html" target="_blank">
                            <div class="demo-grid-wrapper">
                                <img src="img/demos/15.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                                <h3>Home 15</h3>
                                <span class="small font-weight-600">Marketing Agency, Sales</span>
                            </div>
                        </a>
                        <blink class="blue">New</blink>
                    </div>

                    <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                        <a href="home-business.html" target="_blank">
                            <div class="demo-grid-wrapper">
                                <img src="img/demos/16.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                                <h3>Home 16</h3>
                                <span class="small font-weight-600">Account, Business, Consulting</span>
                            </div>
                        </a>
                        <blink class="blue">New</blink>
                    </div>

                    <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                        <a href="home-finance.html" target="_blank">
                            <div class="demo-grid-wrapper">
                                <img src="img/demos/17.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                                <h3>Home 17</h3>
                                <span class="small font-weight-600">Finance, Planning, Investment</span>
                            </div>
                        </a>
                        <blink class="blue">New</blink>
                    </div>

                    <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                        <a href="home-corporate.html" target="_blank">
                            <div class="demo-grid-wrapper">
                                <img src="img/demos/18.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                                <h3>Home 18</h3>
                                <span class="small font-weight-600">Classic Corporate, Services</span>
                            </div>
                        </a>
                        <blink class="blue">New</blink>
                    </div>
                </div>
            </div>
        </div>        

        <div class="container-fluid px-lg-20 py-10">

            <h2 class="h1 fw-bold text-center mb-5">Popular & Hot Demos</h2>

            <div class="row mt-n7 gx-xxl-5 text-center">

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-1.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/1.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 01</h3>
                            <span class="small font-weight-600">Business, Corporate</span>
                        </div>
                    </a>
                    <blink>Popular</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-2.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/2.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 02</h3>
                            <span class="small font-weight-600">Consultant, Sales</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-3.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/3.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 03</h3>
                            <span class="small font-weight-600">Small Business, Growth</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-4.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/4.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 04</h3>
                            <span class="small font-weight-600">Strategy, Business Startup</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-5.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/5.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 05</h3>
                            <span class="small font-weight-600">Advisor, Consultants</span>
                        </div>
                    </a>
                    <blink>Popular</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-6.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/6.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 06</h3>
                            <span class="small font-weight-600">Solution, Success</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-7.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/7.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 07</h3>
                            <span class="small font-weight-600">Web Agency, Development</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-8.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/8.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 08</h3>
                            <span class="small font-weight-600">Corporate, Advise, Planning</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-9.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/9.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 09</h3>
                            <span class="small font-weight-600">Modern Business, Creative</span>
                        </div>
                    </a>
                    <blink>Popular</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-10.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/10.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 10</h3>
                            <span class="small font-weight-600">Design Agency, Creative</span>
                        </div>
                    </a>
                    <blink>Hot</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-11.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/11.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 11</h3>
                            <span class="small font-weight-600">Digital Agency, Web</span>
                        </div>
                    </a>
                    <blink>Hot</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-12.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/12.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 12</h3>
                            <span class="small font-weight-600">Creative Strategy, Digital</span>
                        </div>
                    </a>
                    <blink>Popular</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7 position-relative">
                    <a href="home-13.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/13.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Home 13</h3>
                            <span class="small font-weight-600">Creative Agency, Marketing</span>
                        </div>
                    </a>
                    <blink>Popular</blink>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="#!">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/more-demos.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>More demos coming soon!</h3>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </section>

    <!-- ONE PAGE
    ================================================== -->
    <section id="onepages" class="bg-light mx-lg-1-9">
        <div class="container-fluid px-lg-15">

            <h2 class="h1 fw-bold text-center mb-5">One Page Demos</h2>

            <div class="row text-center mt-n7 gx-xxl-5">

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="one-page/agency/index.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/one-page/1.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Agency</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="one-page/business/index.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/one-page/2.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Business</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="one-page/consulting/index.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/one-page/3.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Consulting</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- ADMIN
    ================================================== -->
    <section id="admin">
        <div class="container-fluid px-lg-20">

            <h2 class="h1 fw-bold text-center mb-5">Admin Dashboard</h2>

            <div class="row text-center mt-n7 gx-xxl-5">

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="admin-template/index.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/admin-template/1.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Admin Dashboard</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="admin-template/form-image-crop.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/admin-template/2.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Image Crop</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="admin-template/calendar.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/admin-template/3.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Calendar Page</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- SHOP
    ================================================== -->
    <section id="shop" class="bg-light mx-lg-1-9">
        <div class="container-fluid px-lg-15">

            <h2 class="h1 fw-bold text-center mb-5">Shop</h2>

            <div class="row text-center mt-n7 gx-xxl-5">

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="home-14.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/shop/1.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Shop Home</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="shop-product-grid.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/shop/2.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Product Grid</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="shop-product-detail.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/shop/3.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Product Details</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- SPECIAL PAGE
    ================================================== -->
    <section id="specialpages">
        <div class="container-fluid px-lg-14">

            <h2 class="h1 fw-bold text-center mb-5">Special Pages</h2>

            <div class="row text-center mt-n7 gx-xxl-5">

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="404.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/1.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>404 Page</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="maintenance.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/2.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Maintenance</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="comingsoon.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/3.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Commingsoon</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="career.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/4.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Working Career Page</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="search.html?s=our+services" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/5.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Search Functionality</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-sm-6 mt-7">
                    <a href="login.html" target="_blank">
                        <div class="demo-grid-wrapper">
                            <img src="img/demos/special-page/6.jpg" alt="Multipurpose Responsive Template" title="Multipurpose Responsive Template">
                            <h3>Login</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- ELEMENTS
    ================================================== -->
    <section id="elements" class="bg-light mx-lg-1-9">
        <div class="container">

            <h2 class="h1 fw-bold text-center mb-5">Shortcodes & Elements</h2>

            <div class="row text-center features-row mt-n1-9">
                <div class="col-lg-4 mt-1-9">
                    <div class="feature-box">
                        <h3>Revolution Slider</h3>
                        <p>It's an innovative, responsive Premium jQuery Slider Plugin that displays your content the beautiful way. Let's get started.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-1-9">
                    <div class="feature-box">
                        <h3>Working Forms</h3>
                        <p>Crizal template have working contact, newsletter, search, etc., forms. You can easily implement into any web page.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-1-9">
                    <div class="feature-box">
                        <h3>Unlimited Customizations</h3>
                        <p>Crizal template have so many features and elements. You can easily customize anything within the elements and features.</p>
                    </div>
                </div>
            </div>


            <div class="row elements-gallery align-items-center">

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="accordions.html" target="_blank">
                            <i class="fas fa-sliders-h"></i>Accordions
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="action-boxes.html" target="_blank">
                            <i class="far fa-square"></i>Action Boxes
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="alerts.html" target="_blank">
                            <i class="fas fa-bell"></i>Alerts
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="audio-video.html" target="_blank">
                            <i class="fas fa-volume-up"></i>Audio Video
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="blockquote.html" target="_blank">
                            <i class="fas fa-vector-square"></i>Blockquote
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="blog-content.html" target="_blank">
                            <i class="fas fa-edit"></i>Blog Content
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="bootstrap-grid.html" target="_blank">
                            <i class="fas fa-th"></i>Bootstrap Grid
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="buttons.html" target="_blank">
                            <i class="fas fa-link"></i>Buttons
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="count-down.html" target="_blank">
                            <i class="fas fa-flag"></i>Count Down
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="charts.html" target="_blank">
                            <i class="fas fa-chart-pie"></i>Charts
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="countups.html" target="_blank">
                            <i class="fas fa-compress"></i>Countups
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="dropcaps.html" target="_blank">
                            <i class="fas fa-highlighter"></i>Dropcaps
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="dropdowns.html" target="_blank">
                            <i class="far fa-caret-square-down"></i>Dropdowns
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="feature-boxes.html" target="_blank">
                            <i class="fas fa-square-full"></i>Feature Boxes
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="feature-boxes-fancy.html" target="_blank">
                            <i class="fas fa-pen-square"></i>Feature Boxes Fancy
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="forms.html" target="_blank">
                            <i class="fab fa-wpforms"></i>Forms
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="google-map.html" target="_blank">
                            <i class="fas fa-map-marker-alt"></i>Google Map
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="html5-video.html" target="_blank">
                            <i class="fas fa-video"></i>HTML5 Video
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="icon-types.html" target="_blank">
                            <i class="fab fa-envira"></i>Icon Types
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="image-slider.html" target="_blank">
                            <i class="far fa-images"></i>Image Slider
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="lightbox.html" target="_blank">
                            <i class="far fa-sun"></i>Lightbox
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="liststyles.html" target="_blank">
                            <i class="fas fa-list-ul"></i>List Styles
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="media-object.html" target="_blank">
                            <i class="fas fa-photo-video"></i>Media Object
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="pagetitles.html" target="_blank">
                            <i class="fas fa-file-alt"></i>Page titles
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="partners.html" target="_blank">
                            <i class="fas fa-handshake"></i>Partners
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="pricing-lists.html" target="_blank">
                            <i class="fas fa-clipboard-list"></i>Pricing Lists
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="process.html" target="_blank">
                            <i class="fas fa-expand"></i>Process
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="progress-bars.html" target="_blank">
                            <i class="fas fa-tasks"></i>Progress Bars
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="project-elements.html" target="_blank">
                            <i class="fas fa-project-diagram"></i>Project Elements
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="responsive-videos.html" target="_blank">
                            <i class="fas fa-video"></i>Responsive Popup Videos
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="social-icons.html" target="_blank">
                            <i class="fas fa-share-square"></i>Social Icons
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="subscribe.html" target="_blank">
                            <i class="fas fa-newspaper"></i>Subscribe
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="table.html" target="_blank">
                            <i class="fas fa-server"></i>Table
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="tabs.html" target="_blank">
                            <i class="fas fa-sliders-h"></i>Tabs
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="testmonials.html" target="_blank">
                            <i class="fas fa-quote-left"></i>Testmonials
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="testmonials-2.html" target="_blank">
                            <i class="fas fa-quote-right"></i>Testmonials 2
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="timeline.html" target="_blank">
                            <i class="fas fa-clock"></i>Timeline
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="typography.html" target="_blank">
                            <i class="fas fa-text-height"></i>Typography
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="vimeo-video.html" target="_blank">
                            <i class="fab fa-vimeo"></i>Vimeo Video
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="d-table">
                        <a href="youtube-video.html" target="_blank">
                            <i class="fab fa-youtube"></i>Youtube Video
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-12 col-xl-4">
                    <div class="d-table">
                        <a href="home-1.html" target="_blank">
                            <i class="fas fa-infinity"></i>And Many More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- INNER PAGES
    ================================================== -->
    <section id="innerpage" class="bg-dark">
        <div class="container-fluid">
            <h2 class="h1 fw-bold text-center mb-5 text-white">Inner Pages &amp; Elements</h2>
            <a href="home-1.html" class="mb-3 d-block" target="_blank">
                <div class="bg-animate inner-page" style="background-image: url(img/demos/inner-page1.png);"></div>
            </a>
            <a href="home-1.html" class="mb-4 d-block" target="_blank">
                <div class="bg-animate-reverse inner-page" style="background-image: url(img/demos/inner-page2.png);"></div>
            </a>
            <a href="home-1.html" target="_blank">
                <div class="bg-animate inner-page" style="background-image: url(img/demos/inner-page3.png);"></div>
            </a>
        </div>
    </section>

    <!-- CUSTOMER REVIEW
    ================================================== -->
    <section class="bg-light">
        <div class="container">

            <h2 class="h1 fw-bold text-center mb-5">Customer Reviews</h2>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-1-9 overflow-hidden bg-primary text-white">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"Excellent customer service, very friendly, willing to help the customer. Fully recommended"</p>
                            <h6 class="mb-0 small text-white">— Jorge Mendez</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                    <div class="card mb-1-9 mb-lg-0 overflow-hidden">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"Thank you very much! I loved the support in finding and fixing my problem. I was able to learn a lot through the great and thorough tutorial you gave me. Thanks again!"</p>
                            <h6 class="mb-0 small">— Paul</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card overflow-hidden mb-1-9">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"Definitely I will buy from you again due to the rapid response you have provided - also your template is probably the best and easiest to work with in my experience."</p>
                            <h6 class="mb-0 small">— Marcin Pawlowski</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                    <div class="card overflow-hidden mb-1-9 mb-lg-0 bg-primary text-white">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"First of all, wow! I have never experienced such a fast answer from a company, you updated the project almost instantly. Thank you!"</p>
                            <h6 class="mb-0 small text-white">— Nick Beun</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card overflow-hidden mb-1-9 bg-primary text-white">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"Awesome template, happy with the result and ease of editing and integration."</p>
                            <h6 class="mb-0 small text-white">— Alexander Kinuthia</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                    <div class="card overflow-hidden">
                        <div class="card-body p-1-9 p-md-2-9 p-lg-6">
                            <p class="card-text font-italic">"Отличная тема, многовариативная - подходит для разных сфер бизнеса. Проблем с установкой не возникло"</p>
                            <h6 class="mb-0 small">— Екатерина Глушкова</h6>
                            <div class="quotes"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <section class="lg pb-0 bg-dark">
        <div class="container-fluid px-md-10 px-lg-14">

            <div class="title-style11">
                <h2 class="text-white">Multipurpose Responsive Bootstrap Template for Business and Corporate.</h2>
            </div>

            <div class="text-center">
                <a href="#!" class="butn primary white-hover"><span>Download Crizal Now</span></a>
            </div>


            <p class="text-center text-white mt-6 opacity6 mb-1-9">&copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> Crizal is Powered by <a href="#!" class="text-white">Chitrakoot Web</a>
            </p>


        </div>
    </section>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- index js -->
    <script src="js/index.js"></script>

    <!-- all js include end -->

</body>

</html>