<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Onepage Agency Template" />
    <meta name="description" content="Onepage Agency Template" />

    <!-- title  -->
    <title>Crizal - Onepage Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- core style css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- HEADER
    ================================================== -->
    <nav class="navbar navbar-expand-lg blog-nav nav-scroll">
        <div class="container px-3 py-2 p-lg-0">

            <!-- start logo -->
            <a class="logo" href="#!">
                <img src="img/logo.png" alt="Crizal - Onepage Agency Template" title="Crizal - Onepage Agency Template">
            </a>
            <!-- end Logo -->

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- end navbar links -->

        </div>
    </nav>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="blog-header">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1 class="text-white">Standard Post With Image</h1>
                    <a href="#!">Home</a>
                    <a href="#!" class="active">Blog</a>
                </div>
            </div>
        </div>
    </section>

    <!-- BLOG LIST
    ================================================== -->
    <section>
        <div class="container">
            <div class="row">

                <!-- blog left -->
                <div class="col-lg-9 mb-1-9 mb-lg-0">
                    <div class="pe-lg-1-9">
                    <div class="blog-list-simple">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="blog-list-simple-img"><img alt="..." src="img/blog/blog-1.jpg">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="blog-list-simple-text">
                                    <h4><a href="single-post.html">The devices you need to work anytime</a></h4>
                                    <ul class="meta ps-0">
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-user"></i> Admin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fas fa-calendar-alt"></i>January 19,
                                                <script>
                                                    document.write(new Date().getFullYear())
                                                </script>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-tags"></i> blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-comments"></i> 0 Comments
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard.Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard business.</p>
                                        <div class="text-start mt-2"><a href="single-post.html" class="btn small"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-simple">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="blog-list-simple-img"><img alt="..." src="img/blog/blog-2.jpg">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="blog-list-simple-text">
                                    <h4><a href="single-post.html">Top & get more traffic to your website</a></h4>
                                    <ul class="meta ps-0">
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-user"></i> Admin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fas fa-calendar-alt"></i> March 10,
                                                <script>
                                                    document.write(new Date().getFullYear())
                                                </script>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-tags"></i> blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-comments"></i> 0 Comments
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard.Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard business.</p>
                                        <div class="text-start mt-2"><a href="single-post.html" class="btn small"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-simple">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="blog-list-simple-img"><img alt="..." src="img/blog/blog-3.jpg">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="blog-list-simple-text">
                                    <h4><a href="single-post.html">Colleagues having discussion team meeting</a></h4>
                                    <ul class="meta ps-0">
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-user"></i> Admin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fas fa-calendar-alt"></i> April 15,
                                                <script>
                                                    document.write(new Date().getFullYear())
                                                </script>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-tags"></i> blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i aria-hidden="true" class="fa fa-comments"></i> 0 Comments
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard.Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cillum fugiat eu fugiat nulla pariatur standard business.</p>
                                        <div class="text-start mt-2"><a href="single-post.html" class="btn small"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pager -->
                    <div class="m-0">
                        <div class="pagination text-small text-uppercase text-extra-dark-gray">
                            <ul class="mb-0 ps-0">
                                <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end pager -->
                </div>
                </div>
                <!-- end blog left -->

                <!-- blog right -->
                <div class="col-lg-3">
                    <div class="side-bar">
                        <div class="widget search">
                            <form method='post'>
                                <input type="hidden" name="form-name" value="form 1" />
                                <input type="search" name="search" placeholder="Type here ...">
                                <button type="submit" class="butn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Recent Posts</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">You don't want Traveling as your enemy!</a></li>
                                <li><a href="#!">Good City Has Written All Over It.</a></li>
                                <li><a href="#!">he 20 Best Lightroom Presets You Need.</a></li>
                                <li><a href="#!">Pride of the Performers For Hundred Years.</a></li>
                                <li><a href="#!">Time will be for you what you want it to be.</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Recent Comments</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">10 sport Trends to Try in <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">Every thing design for your.</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Archives</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">January <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">February <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">March <script>document.write(new Date().getFullYear())</script></a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Categories</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">Business - 45</a></li>
                                <li><a href="#!">Consultancy - 33</a></li>
                                <li><a href="#!">Finance - 23</a></li>
                                <li><a href="#!">Investment - 09</a></li>
                                <li><a href="#!">Professional - 12</a></li>
                                <li><a href="#!">Development - 21</a></li>
                                <li><a href="#!">Planning - 07</a></li>
                                <li><a href="#!">Saving - 15</a></li>
                                <li><a href="#!">Banking - 10</a></li>
                            </ul>
                        </div>

                        <div class="widget no-margin">
                            <div class="widget-title">
                                <h6>Follow Us</h6>
                            </div>
                            <ul class="social-listing ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- blog right -->

            </div>

        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="bg-primary">
        <div class="footer-bottom py-1-9">
            <div class="container text-center">
                <span class="text-white">&copy; <script>document.write(new Date().getFullYear())</script> Crizal is Powered by <a href="#!" class="text-white">Chitrakoot Web</a></span>
            </div>
        </div>

    </footer>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../../js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="../../js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="../../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../../js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="../../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../../js/waypoints.min.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- quform plugins js -->
    <script src="../../quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>