<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Onepage Agency Template" />
    <meta name="description" content="Onepage Agency Template" />

    <!-- title  -->
    <title>Onepage Agency | Crizal - Multipurpose Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- quform css -->
    <link rel="stylesheet" href="../../quform/css/base.css">

    <!-- core style css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- HEADER
    ================================================== -->
    <header class="header slider-fade small-height-align full-screen" data-scroll-index="0">

        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container px-3 py-2 p-lg-0">

                <!-- start logo -->
                <a class="logo" href="#!" data-scroll-nav="0">
                    <img src="img/logo.png" alt="Crizal - Onepage Agency Template" title="Crizal - Onepage Agency Template">
                </a>
                <!-- end Logo -->

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                </button>

                <!-- navbar links -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#!" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="2">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="3">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="4">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="5">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="6">Contact</a>
                        </li>
                    </ul>
                    <a href="#!" class="btn small fill ms-3 d-none d-lg-block">Buy Now</a>
                </div>
                <!-- end navbar links -->

            </div>
            <a href="#!" class="sidemenu_btn d-none d-lg-block" id="sidebar_toggle">
                <span></span> <span></span> <span></span>
            </a>
        </nav>
        <!-- end navbar  -->

        <!-- start slideshow -->
        <div class="container-fluid px-0">
            <div class="row">
                <div class="owl-carousel owl-theme w-100">
                    <div class="item bg-img" data-overlay-dark="7" data-background="img/slider/slide-01.jpg">
                        <div class="caption">
                            <div class="overflow-hidden">
                                <h3>Creative Agency</h3>
                                <h1>Winning Agency</h1>
                            </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-overlay-dark="7" data-background="img/slider/slide-02.jpg">

                        <div class="caption">
                            <div class="overflow-hidden">
                                <h3>Unique can do</h3>
                                <h1>Something Unique</h1>
                            </div>
                        </div>

                    </div>
                    <div class="item bg-img" data-overlay-dark="7" data-background="img/slider/slide-03.jpg">

                        <div class="caption">
                            <div class="overflow-hidden">
                                <h3>Challange Planning</h3>
                                <h1>Smart Planning</h1>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end slideshow -->

        <!-- start sidemenu -->
        <div class="side-menu black alt-font">
            <div class="inner-wrapper">
                <span class="btn-close" id="btn_sidebar_colse"></span>
                <nav class="side-nav w-100">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#!" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="2">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="3">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="4">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="5">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="6">Contact</a>
                        </li>
                    </ul>
                </nav>

                <div class="side-footer w-100">
                    <div class="social-links">
                        <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End sidemenu -->

        <!-- close sidemenu -->
        <a id="close_sidebar" href="#!"></a>
        <!-- End Sidemenu -->

    </header>

    <!-- ABOUT
    ================================================== -->
    <section class="pb-0" data-scroll-index="1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center mb-1-9 mb-lg-0">
                    <div class="position-relative z-index-1 pe-lg-2-3 pe-xl-6">
                        <img src="img/about-us.jpg" alt="..." class="rounded">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <h2 class="mb-3">If you can think it, we can make it!</h2>
                    <p class="lead mb-3 w-xl-85">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>

                    <div class="d-flex mb-1-9">
                                <div class="me-4">
                                    <i class="fas fa-check text-primary"></i>
                                </div>
                                <div class="w-100">
                                    <h4 class="h5">The Easiest Way</h4>
                                    <p class="mb-0">We help you create and manage all successful use content can make your project come true.</p>
                                </div>
                            </div>

                    <div class="d-inline-block text-start box-shadow-large py-3 px-4 rounded-lg bg-white mb-2">
                        <div class="font-weight-500">“Everything you need - all in one theme.”
                            <span class="d-block text-primary">- John Doe</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- SERVICES
    ================================================== -->
    <section data-scroll-index="2">
        <div class="container">

            <div class="section-heading">
                <h2>Our Services</h2>
                <p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia.</p>
            </div>

            <div class="row justify-content-lg-center mt-n1-9">

                <div class="col-md-6 col-xl-5 mt-1-9">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <i class="fas fa-pen-nib text-primary display-16"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-3">Creative Design</h4>
                            <p class="mb-2 w-lg-90">There are so many creative demos included and code structure is user friendly so you can easily manage.</p>
                            <a href="#!" class="text-primary small">read more <i class="fas fa-arrow-right ms-1 align-middle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5 mt-1-9">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <i class="fas fa-headset text-primary display-16"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-3">Customer Support</h4>
                            <p class="mb-2 w-lg-90">Friendly customer support team that is always just a click away. They will answer your questions and help you best design.</p>
                            <a href="#!" class="text-primary small">read more <i class="fas fa-arrow-right ms-1 align-middle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5 mt-1-9">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <i class="fas fa-compress text-primary display-16"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-3">Fully Responsive</h4>
                            <p class="mb-2 w-lg-90">Perfect and responsive design and all major browser cross checking. All demos are perfectly open in any device.</p>
                            <a href="#!" class="text-primary small">read more <i class="fas fa-arrow-right ms-1 align-middle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5 mt-1-9">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <i class="far fa-file-alt text-primary display-16"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-3">Well Documented</h4>
                            <p class="mb-2 w-lg-90">Every component and plugin is well documented helping our customers better manage their web pages design.</p>
                            <a href="#!" class="text-primary small">read more <i class="fas fa-arrow-right ms-1 align-middle"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- COUNTER
    ================================================== -->
    <section class="counterup bg-primary mx-sm-1-9 rounded">
        <div class="container">
            <div class="row text-center mt-n1-9">
                <div class="col-6 col-lg-3 mt-1-9">
                    <h5 class="countup">3265</h5>
                    <p>Happy Clients</p>
                </div>
                <div class="col-6 col-lg-3 mt-1-9">
                    <h5 class="countup">310</h5>
                    <p>Consultation</p>
                </div>
                <div class="col-6 col-lg-3 mt-1-9">
                    <h5 class="countup">643</h5>
                    <p>Project Completed</p>
                </div>
                <div class="col-6 col-lg-3 mt-1-9">
                    <h5 class="countup">5210</h5>
                    <p>Satisfied Visitors</p>
                </div>
            </div>
        </div>
    </section>

    <!-- PROCESS
    ================================================== -->
    <section class="text-center position-relative pb-0">
        <div class="container">
            <div class="row mt-n2-6">
                <div class="col-md-4 mt-2-6">
                    <div class="work-process">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="far fa-lightbulb"></i></span>
                            </div>
                            <div class="process-num">01</div>
                        </div>
                        <div>
                            <h5>Research</h5>
                            <p>Fulfill your dreams with technology putting on project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2-6">
                    <div class="work-process step-2">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="fas fa-bullseye"></i></span>
                            </div>
                            <div class="process-num">02</div>
                        </div>
                        <div>
                            <h5>Targeting</h5>
                            <p>Fulfill your dreams with technology putting on project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2-6">
                    <div class="work-process last">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="fas fa-rocket"></i></span>
                            </div>
                            <div class="process-num">03</div>
                        </div>
                        <div>
                            <h5>Result</h4>
                        <p>Fulfill your dreams with technology putting on project</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- TEAM
    ================================================== -->
    <section data-scroll-index="3">
        <div class="container">

            <div class="section-heading">
                    <h2>Our Team</h2>
                    <p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia.</p>
                </div>

            <div class="row justify-content-center mt-n1-9">
                <div class="col-9 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-style">
                        <div class="team-img"><img alt="..." src="img/team/team-05.jpg"></div>
                        <div class="team-details">
                            <h4><a href="#!">Jamara Karle</a></h4><span>Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-style">
                        <div class="team-img"><img alt="..." src="img/team/team-06.jpg">
                        </div>
                        <div class="team-details">
                            <h4><a href="#!">Keir Prestonly</a></h4><span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-style">
                        <div class="team-img"><img alt="..." src="img/team/team-07.jpg"></div>
                        <div class="team-details">
                            <h4><a href="#!">Finley Walkeror</a></h4><span>Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-style">
                        <div class="team-img"><img alt="..." src="img/team/team-08.jpg"></div>
                        <div class="team-details">
                            <h4><a href="#!">Lenethi  Miloler</a></h4><span>Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL
    ================================================== -->
    <section class="text-center bg-light-gray mx-sm-1-9 rounded">
        <div class="container">

            <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="owl-theme owl-carousel testimonial">

                        <div>

                            <span class="alt-font quote">&ldquo;</span>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="md-avatar">
                                    <img class="img-fluid rounded-circle" src="img/testimonial/t-1.jpg" alt="...">
                                </div>
                                <div class="text-start ms-4">
                                    <h4>Elean Milburn</h4>
                                    <small>Co-Founder</small>
                                </div>
                            </div>

                        </div>

                        <div>

                            <span class="alt-font quote">&ldquo;</span>

                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt beatae.</p>

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="md-avatar">
                                    <img class="img-fluid rounded-circle" src="img/testimonial/t-2.jpg" alt="...">
                                </div>
                                <div class="text-start ms-4">
                                    <h4>Erica Lockett</h4>
                                    <small>Designer</small>
                                </div>
                            </div>

                        </div>

                        <div>

                            <span class="alt-font quote">&ldquo;</span>

                            <p>Excepteur sint occaecat cupidatat non totam rem aperiam proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.</p>

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="md-avatar">
                                    <img class="img-fluid rounded-circle" src="img/testimonial/t-3.jpg" alt="...">
                                </div>
                                <div class="text-start ms-4">
                                    <h4>Laurie Beebe</h4>
                                    <small>Developer</small>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- PRICING
    ================================================== -->
    <section class="pb-0" data-scroll-index="4">
        <div class="container">

            <div class="section-heading">
                        <h2>Pricing Plans</h2>
                        <p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia.</p>
                    </div>

            <div class="row align-items-end mt-n1-9">
                <div class="col-md-4">
                    <div class="price-table mt-1-9">
                        <div class="pricing-header">
                            <h4>Basic Plan</h4>
                            <span class="price-symbol">$</span>
                            <span class="price">29</span>
                            <span class="days">/month</span>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-style">
                                <li>Full Access Library</li>
                                <li>Multiple User</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#!" class="btn w-100"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-table mt-1-9">
                        <div class="pricing-header">
                            <h4>Standard Plan</h4>
                            <span class="price-symbol">$</span>
                            <span class="price">49</span>
                            <span class="days">/month</span>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-style">
                                <li>Full Access Library</li>
                                <li>Premium Plugins</li>
                                <li>Multiple User</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#!" class="btn w-100"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-1-9">
                    <div class="price-table">
                        <div class="pricing-header">
                            <h4>Individual Plan</h4>
                            <span class="price-symbol">$</span>
                            <span class="price">99</span>
                            <span class="days">/month</span>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-style">
                                <li>Full Access Library</li>
                                <li>Premium Plugins</li>
                                <li>Multiple User</li>
                                <li>24/7 Support</li>
                                <li>E-commerce</li>
                            </ul>
                            <a href="#!" class="btn w-100"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- BLOG
    ================================================== -->
    <section data-scroll-index="5">
        <div class="container">

            <div class="section-heading">
                        <h2>Latest Blog</h2>
                        <p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia.</p>
                    </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">

                    <article class="card blog-card">

                            <div class="row no-gutters">
                                <div class="col-md-5 min-height-350">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-1.jpg"></div>
                                </div>
                                <div class="col-md-7">

                                    <div class="card-body p-1-9 p-lg-2-3">
                                <time class="d-block text-primary mb-2 small">April 10, <script>document.write(new Date().getFullYear())</script></time>
                                <h3><a href="blog.html">The devices you need to work anytime</a></h3>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.</p>
                                <span class="read-more"><a href="blog.html">read more...</a></span>
                                </div>

                                <div class="card-footer bg-white">

                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="d-flex align-items-center">
                                        <img src="img/avatar/avatar-01.jpg" class="rounded-circle" alt="...">

                                        <div class="ms-3">
                                            <span><span class="font-weight-bold">By: </span>Clani Curry</span>
                                        </div>
                                    </div>

                                    <a href="single-post.html">
                                        <i class="far fa-comment me-1"></i>35
                                    </a>

                                </div>

                            </div>

                                </div>
                            </div>

                        </article>

                </div>

            </div>
        </div>
    </section>

    <!-- COUNTACT US
    ================================================== -->
    <section class="lg bg-light-gray mx-sm-1-9 rounded" data-scroll-index="6">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 mb-1-9 mb-lg-0">
                    <div class="bg-white p-1-9 border border-color-light-black rounded h-100">
                        <div class="border-bottom border-color-light-black mb-1-9 pb-1-9">
                            <h5>Address:</h5>
                            <address class="mb-0">74 Norava Street 542B, Great North Town 51 MT.</address>
                        </div>

                        <div class="border-bottom border-color-light-black pb-1-9 mb-1-9">
                            <h5>Message:</h5>
                            <ul class="mb-0 list-unstyled">
                                <li>addyour@emailhere</li>
                                <li>(+44) 123 456 789</li>
                            </ul>
                        </div>

                        <div>

                        <div class="footer-social">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-8">

                    <div class="bg-white p-1-9 border border-color-light-black ms-lg-2-3 rounded h-100">
                        <h5 class="mb-3">Quick Contact:</h5>

                        <!-- start form here -->

                        <form class="quform" action="../../quform/contact.php" method="post" enctype="multipart/form-data" onclick="">

                            <div class="quform-elements">

                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input id="name" class="form-control" type="text" name="name" placeholder="Your name here" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input id="email" class="form-control" type="text" name="email" placeholder="Your email here" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input id="subject" class="form-control" type="text" name="subject" placeholder="Your subject here" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input id="phone" class="form-control" type="text" name="phone" placeholder="Your phone number" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Textarea element -->
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <textarea id="message" class="form-control" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Textarea element -->

                                    <!-- Begin Captcha element -->
                                    <div class="col-md-12">
                                        <div class="quform-element">
                                            <div class="form-group">
                                                <div class="quform-input">
                                                    <input id="type_the_word" class="form-control" type="text" name="type_the_word" placeholder="Type the below word" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="quform-captcha">
                                                    <div class="quform-captcha-inner">
                                                        <img src="quform/images/captcha/courier-new-light.png" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Captcha element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn" type="submit"><span>Submit Comment</span></button>
                                        </div>
                                        <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>

                        </form>

                        <!-- end form here -->

                        </div>
                </div>
            </div>

                </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="bg-primary">
        <div class="footer-bottom py-1-9">
            <div class="container text-center">
                    <span class="text-white">&copy; <script>document.write(new Date().getFullYear())</script> Crizal is Powered by <a href="#!" class="text-white">Chitrakoot Web</a></span>
            </div>
        </div>

    </footer>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../../js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="../../js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="../../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../../js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="../../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../../js/waypoints.min.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- quform plugins js -->
    <script src="../../quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>