<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Onepage Agency Template" />
    <meta name="description" content="Onepage Agency Template" />

    <!-- title  -->
    <title>Crizal - Onepage Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- core style css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- HEADER
    ================================================== -->
    <nav class="navbar navbar-expand-lg blog-nav nav-scroll">
        <div class="container px-3 py-2 p-lg-0">

            <!-- start logo -->
            <a class="logo" href="#!">
                <img src="img/logo.png" alt="Crizal - Onepage Agency Template" title="Crizal - Onepage Agency Template">
            </a>
            <!-- end Logo -->

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- end navbar links -->

        </div>
    </nav>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="blog-header">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1 class="text-white">Standard Post With Image</h1>
                    <a href="#!">Home</a>
                    <a href="blog.html">Blog</a>
                    <a href="#!" class="active">Post Details</a>
                </div>
            </div>
        </div>
    </section>

    <!-- BLOG POST
    ================================================== -->
    <section class="blogs">
        <div class="container">
            <div class="row">

                <!-- blog left -->
                <div class="col-lg-9 mb-1-9 mb-lg-0">
                    <div class="posts pe-lg-1-9">
                        <!-- post -->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog/blog-2.jpg" alt="...">
                            </div>
                            <div class="content">
                                <div class="blog-list-simple-text post-meta">
                                    <div class="post-title">
                                        <h5>Top & get more traffic to your website</h5>
                                    </div>
                                    <ul class="meta ps-0">
                                        <li>
                                            <a href="#!">
                                                <i class="fa fa-user" aria-hidden="true"></i> Admin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>March 10,
                                                <script>
                                                    document.write(new Date().getFullYear())
                                                </script>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i class="fa fa-tags" aria-hidden="true"></i> Blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <i class="fa fa-comments" aria-hidden="true"></i> 0 Comments
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-cont">
                                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident minim veniam.</p>
                                    <p class="special display-28">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident minim veniam.</p>
                                </div>
                                <div class="share-post">
                                    <span>Share Post</span>
                                    <ul class="ps-0">
                                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end post -->

                        <!-- pager -->
                        <div class="text-center mb-1-9">
                            <div class="pagination text-small text-uppercase text-extra-dark-gray">
                                <ul>
                                    <li class="active"><a href="#!">Prev</a></li>
                                    <li><a href="single-post-2.html">Next</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end pager -->

                        <!-- comment -->
                        <div class="comments-area">
                            <div class="title-g mb-1-9">
                                <h3>Comments</h3>
                            </div>
                            <div class="comment-box">
                                <div class="author-thumb">
                                    <img src="img/avatar/01.png" alt="..." class="rounded-circle">
                                </div>
                                <div class="comment-info">
                                    <h6><a href="#!">Alex Joyrina</a></h6>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="reply">
                                        <a href="#!">
                                            <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <div class="author-thumb">
                                    <img src="img/avatar/02.png" alt="..." class="rounded-circle">
                                </div>
                                <div class="comment-info">
                                    <h6><a href="#!">Jama Karleny</a></h6>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="reply">
                                        <a href="#!">
                                            <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <div class="author-thumb">
                                    <img src="img/avatar/03.png" alt="..." class="rounded-circle">
                                </div>
                                <div class="comment-info">
                                    <h6><a href="#!">Ivonne Drennen</a></h6>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="reply">
                                        <a href="#!">
                                            <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end comment -->

                        <!-- form -->
                        <div class="comment-form">

                            <div class="line-title">
                                <h3>Post a Comment</h3>
                            </div>

                            <form method="post">

                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="Your name here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Your email here">
                                        </div>

                                    </div>

                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <textarea id="message" class="form-control" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                        </div>

                                    </div>

                                </div>

                                <button type="button" class="btn fill"><span>Send Message</span></button>

                            </form>

                        </div>
                        <!-- end form -->
                    </div>
                </div>
                <!-- end blog left -->

                <!-- blog right -->
                <div class="col-lg-3">
                    <div class="side-bar">
                        <div class="widget search">
                            <form method='post'>
                                <input type="hidden" name="form-name" value="form 1" />
                                <input type="search" name="search" placeholder="Type here ...">
                                <button type="submit" class="butn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Recent Posts</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">You don't want Traveling as your enemy!</a></li>
                                <li><a href="#!">Good City Has Written All Over It.</a></li>
                                <li><a href="#!">he 20 Best Lightroom Presets You Need.</a></li>
                                <li><a href="#!">Pride of the Performers For Hundred Years.</a></li>
                                <li><a href="#!">Time will be for you what you want it to be.</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Recent Comments</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">10 sport Trends to Try in <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">Every thing design for your.</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Archives</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">January <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">February <script>document.write(new Date().getFullYear())</script></a></li>
                                <li><a href="#!">March <script>document.write(new Date().getFullYear())</script></a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h6>Categories</h6>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#!">Business - 45</a></li>
                                <li><a href="#!">Consultancy - 33</a></li>
                                <li><a href="#!">Finance - 23</a></li>
                                <li><a href="#!">Investment - 09</a></li>
                                <li><a href="#!">Professional - 12</a></li>
                                <li><a href="#!">Development - 21</a></li>
                                <li><a href="#!">Planning - 07</a></li>
                                <li><a href="#!">Saving - 15</a></li>
                                <li><a href="#!">Banking - 10</a></li>
                            </ul>
                        </div>

                        <div class="widget no-margin">
                            <div class="widget-title">
                                <h6>Follow Us</h6>
                            </div>
                            <ul class="social-listing ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- blog right -->

            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="bg-primary">
        <div class="footer-bottom py-1-9">
            <div class="container text-center">
                <span class="text-white">&copy; <script>document.write(new Date().getFullYear())</script> Crizal is Powered by <a href="#!" class="text-white">Chitrakoot Web</a></span>
            </div>
        </div>

    </footer>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../../js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="../../js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="../../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../../js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="../../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../../js/waypoints.min.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- quform plugins js -->
    <script src="../../quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>