<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Onepage Business Template" />
    <meta name="description" content="Onepage Business Template" />

    <!-- title  -->
    <title>Onepage Business | Crizal - Multipurpose Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- quform css -->
    <link rel="stylesheet" href="../../quform/css/base.css">

    <!-- core style css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- HEADER
    ================================================== -->
    <header class="header full-screen bg-img cover-background" data-overlay-dark="7" data-scroll-index="0" data-background="img/banner.jpg">

        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container px-3 py-2 p-lg-0">

                <!-- start logo -->
                <a class="logo" href="#!" data-scroll-nav="0">
                    <img src="img/logo-light.png" alt="Crizal - Onepage Business Template" title="Crizal - Onepage Business Template">
                </a>
                <!-- end Logo -->

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                </button>

                <!-- navbar links -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#!" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="1">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="2">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="3">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="4">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="5">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="6">Blog</a>
                        </li>
                    </ul>
                    <a href="#!" class="btn small fill ms-3 d-none d-lg-block">Buy Now</a>
                </div>
                <!-- end navbar links -->

            </div>
            <a href="#!" class="sidemenu_btn d-none d-lg-block" id="sidebar_toggle">
                <span></span> <span></span> <span></span>
            </a>
        </nav>
        <!-- end navbar  -->

        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-start min-vh-100 static-banner">
                <div class="col-md-10 col-lg-8 d-table h-100 z-index-1">
                    <div class="d-table-cell align-middle">
                        <div class="caption">
                            <h1>We build solution</h1>
                            <p class="mb-1-9 lead">Trusted and professional business consultant to fulfill your dreams with latest technology putting on project.</p>
                            <a href="#!" data-scroll-nav="2" class="btn fill">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start sidemenu -->
        <div class="side-menu black alt-font">
            <div class="inner-wrapper">
                <span class="btn-close" id="btn_sidebar_colse"></span>
                <nav class="side-nav w-100">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#!" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="1">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="2">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="3">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="4">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="5">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!" data-scroll-nav="6">Blog</a>
                        </li>
                    </ul>
                </nav>

                <div class="side-footer w-100">
                    <div class="social-links">
                        <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End sidemenu -->

        <!-- close sidemenu -->
        <a id="close_sidebar" href="#!"></a>
        <!-- End Sidemenu -->

        <!-- start banner shape -->
        <div class="banner-shape">
            <img src="img/banner-shape.png" alt="...">
        </div>
        <!-- end banner shape -->

    </header>

    <!-- SERVICES
    ================================================== -->
    <section data-scroll-index="1">
        <div class="container">
            <div class="section-title">
                <h2>Our Services</h2>
            </div>
            <div class="row justify-content-center mt-n1-9">
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="service-block">
                        <i class="ti-medall display-14 text-primary d-inline-block mb-4"></i>
                        <h3>Unique Features</h3>
                        <p>Our mission is to deliver true results for your business. The devices you need to work anytime.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="service-block">
                        <i class="ti-infinite display-14 text-primary d-inline-block mb-4"></i>
                        <h3>Endless Potential</h3>
                        <p>Our mission is to deliver true results for your business. The devices you need to work anytime.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="service-block">
                        <i class="ti-rocket display-14 text-primary d-inline-block mb-4"></i>
                        <h3>Newest technology</h3>
                        <p>Our mission is to deliver true results for your business. The devices you need to work anytime.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="pt-0" data-scroll-index="2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-1-9 mb-lg-0">
                    <div class="position-relative">
                        <img src="img/about.jpg" alt="..." class="rounded">
                        <div class="position-absolute start-50 top-50 translate-middle">
                        <a class="popup-youtube about-video" href="https://www.youtube.com/watch?v=f5BBJ4ySgpo">
                            <span class="video_btn"><i class="fa fa-play small"></i></span>
                        </a>
                    </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="ps-lg-1-9 ps-xl-6">
                        <h2 class="mb-3">We are ready to get start your business.</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua dolore magna aliqua.</p>

                        <!-- start process section -->
                        <div class="process-steps-xs">
                            <ul class="left-holder row mb-0">
                                <li class="col-6 col-md-3">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon"><i class="ti-money"></i></div>
                                        <h3>Investment</h3></div>
                                </li>
                                <li class="col-6 col-md-3">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon"><i class="ti-wallet"></i></div>
                                        <h3>Strategist</h3></div>
                                </li>
                                <li class="col-6 col-md-3">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon"><i class="ti-briefcase"></i></div>
                                        <h3>Marketing</h3></div>
                                </li>
                                <li class="col-6 col-md-3">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon"><i class="ti-light-bulb"></i></div>
                                        <h3>Insurance</h3></div>
                                </li>
                            </ul>
                        </div>
                        <!-- end process section -->

                        <div class="mt-1-9">
                            <img src="img/sign.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- COUNTER
    ================================================== -->
    <section class="pt-0">
        <div class="container">
            <div class="row text-center mt-n1-9">
                <div class="col-6 col-md-3 mt-1-9">
                    <h5 class="h1 mb-1"><span class="countup">958</span>+</h5>
                    <p class="mb-0">Project Completed</p>
                </div>
                <div class="col-6 col-md-3 mt-1-9">
                    <h5 class="h1 mb-1"><span class="countup">422</span>+</h5>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-6 col-md-3 mt-1-9">
                    <h5 class="h1 mb-1"><span class="countup">102</span>+</h5>
                    <p class="mb-0">Award Win</p>
                </div>
                <div class="col-6 col-md-3 mt-1-9">
                    <h5 class="h1 mb-1"><span class="countup">159</span>+</h5>
                    <p class="mb-0">Total Members</p>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL
    ================================================== -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="testimonial-slider">
                <div class="owl-carousel owl-theme">
                    <div class="row">
                        <div class="col-md-3 text-center mb-3 mb-md-0">
                            <div class="mb-3 mb-lg-4">
                                <img src="img/testimonial/t-1.jpg" class="rounded-circle" alt="...">
                            </div>
                            <h4>Horothy Hulese</h4>
                            <span class="small font-weight-600">Co-Founder</span>
                        </div>
                        <div class="col-md-9">
                            <div class="position-relative ps-md-6 ps-lg-8">
                                <span class="qoute"><i class="fas fa-quote-left"></i></span>
                                <p>Neque porro quisquam dolorem ipsum quia dolor sit amet, consectet, adipisci velit, sed quia non numquam eius modi tempora incidunt quaerat voluptatem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center mb-3 mb-md-0">
                            <div class="mb-3 mb-lg-4">
                                <img src="img/testimonial/t-2.jpg" class="rounded-circle" alt="...">
                            </div>
                            <h4>Buckle Giarza</h4>
                            <span class="font-size14 font-weight-600">Designer</span>
                        </div>
                        <div class="col-md-9">
                            <div class="position-relative ps-md-6 ps-lg-8">
                                <span class="qoute"><i class="fas fa-quote-left"></i></span>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis accusantium.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center mb-3 mb-md-0">
                            <div class="mb-3 mb-lg-4">
                                <img src="img/testimonial/t-3.jpg" class="rounded-circle" alt="...">
                            </div>
                            <h4>Lenthi Miloler</h4>
                            <span class="font-size14 font-weight-600">Developer</span>
                        </div>
                        <div class="col-md-9">
                            <div class="position-relative ps-md-6 ps-lg-8">
                                <span class="qoute"><i class="fas fa-quote-left"></i></span>
                                <p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit fugit consequuntur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TEAM
    ================================================== -->
    <section data-scroll-index="3">
        <div class="container">

            <div class="section-title">
                <h2>Meet Our Team</h2>
            </div>

            <div class="row justify-content-center mt-n1-9">
                <div class="col-10 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-block text-center position-relative">
                        <img src="img/team/team-01.jpg" alt="...">
                        <div class="team-content bg-white-opacity py-3 w-100 position-absolute">
                            <h4 class="h6 mb-0">Paulci Allen</h4>
                            <p class="mb-0 small">Desiger</p>
                        </div>
                        <div class="detail position-absolute">
                            <div class="content position-absolute">
                                <h4 class="h6 text-white mb-1">Paulci Allen</h4>
                                <p class="text-white mb-4 small font-weight-400">Desiger</p>
                                <a href="#!" class="icon"><i class="fab fa-facebook-square"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-twitter"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-instagram"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-block text-center position-relative">
                        <img src="img/team/team-02.jpg" alt="...">
                        <div class="team-content bg-white-opacity py-3 w-100 position-absolute">
                            <h4 class="h6 mb-0">Kathleen Filler</h4>
                            <p class="mb-0 small">Developer</p>
                        </div>
                        <div class="detail position-absolute">
                            <div class="content position-absolute">
                                <h4 class="h6 text-white mb-1">Kathleen Filler</h4>
                                <p class="text-white mb-4 small font-weight-400">Developer</p>
                                <a href="#!" class="icon"><i class="fab fa-facebook-square"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-twitter"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-instagram"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-block text-center position-relative">
                        <img src="img/team/team-03.jpg" alt="...">
                        <div class="team-content bg-white-opacity py-3 w-100 position-absolute">
                            <h4 class="h6 mb-0">Annim Meeller</h4>
                            <p class="mb-0 small">Developer</p>
                        </div>
                        <div class="detail position-absolute">
                            <div class="content position-absolute">
                                <h4 class="h6 text-white mb-1">Annim Meeller</h4>
                                <p class="text-white mb-4 small font-weight-400">Developer</p>
                                <a href="#!" class="icon"><i class="fab fa-facebook-square"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-twitter"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-instagram"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-6 col-md-5 col-lg-3 mt-1-9">
                    <div class="team-block text-center position-relative">
                        <img src="img/team/team-04.jpg" alt="...">
                        <div class="team-content bg-white-opacity py-3 w-100 position-absolute">
                            <h4 class="h6 mb-0">Jenny Roberts</h4>
                            <p class="mb-0 small">Designer</p>
                        </div>
                        <div class="detail position-absolute">
                            <div class="content position-absolute">
                                <h4 class="h6 text-white mb-1">Jenny Roberts</h4>
                                <p class="text-white mb-4 small font-weight-400">Designer</p>
                                <a href="#!" class="icon"><i class="fab fa-facebook-square"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-twitter"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-instagram"></i></a>
                                <a href="#!" class="icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PRICING
    ================================================== -->
    <section class="price bg-light-gray" data-scroll-index="4">
        <div class="container">

            <div class="section-title">
                <h2>Our Price</h2>
            </div>
            <div class="row">
                <!-- start table -->
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="item text-center">
                        <div class="type">
                            <h4>Basic</h4>
                        </div>
                        <div class="value">
                            <h3>10<span>$</span></h3>
                            <span class="per">Per Month</span>
                        </div>
                        <div class="features">
                            <ul class="list-unstyled">
                                <li>24/7 Tech Support</li>
                                <li>Advanced Options</li>
                                <li>1GB Storage</li>
                                <li>6GB Bandwidth</li>
                                <li>Unlimited Support</li>
                            </ul>
                        </div>
                        <div class="order">
                            <a href="#!" class="btn small"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
                <!-- end table -->

                <!-- start table -->
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="item text-center active">
                        <div class="type">
                            <h4>Standard</h4>
                        </div>
                        <div class="value">
                            <h3>21<span>$</span></h3>
                            <span class="per">Per Month</span>
                        </div>
                        <div class="features">
                            <ul class="list-unstyled">
                                <li>24/7 Tech Support</li>
                                <li>Advanced Options</li>
                                <li>1.5GB Storage</li>
                                <li>3GB Bandwidth</li>
                                <li>Unlimited Support</li>
                            </ul>
                        </div>
                        <div class="order">
                            <a href="#!" class="btn fill small"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
                <!-- end table -->

                <!-- start table -->
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <div class="item text-center">
                        <div class="type">
                            <span class="icon"><i class="icofont icofont-diamond"></i></span>
                            <h4>Premium</h4>
                        </div>
                        <div class="value">
                            <h3>99<span>$</span></h3>
                            <span class="per">Per Month</span>
                        </div>
                        <div class="features">
                            <ul class="list-unstyled">
                                <li>24/7 Tech Support</li>
                                <li>Advanced Options</li>
                                <li>6GB Storage</li>
                                <li>12GB Bandwidth</li>
                                <li>Unlimited Support</li>
                            </ul>
                        </div>
                        <div class="order">
                            <a href="#!" class="btn small"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
                <!-- end table -->
            </div>
        </div>
    </section>

    <!-- PORTFOLIO
    ================================================== -->
    <section class="pb-0" data-scroll-index="5">
        <div class="container">

            <div class="section-title">
                <h2>Our Work</h2>
            </div>

            <div class="row portfolio-gallery mt-n3">
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/01.jpg" data-sub-html="<h4 class='text-white'>Investment #01</h4><p>Lenthi Miloler</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/01.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Investment</a></h5>
                                <small>Lenthi Miloler</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/02.jpg" data-sub-html="<h4 class='text-white'>Business #02</h4><p>Buckle Giarza</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/02.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Business</a></h5>
                                <small>Buckle Giarza</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/03.jpg" data-sub-html="<h4 class='text-white'>Consulting #03</h4><p>Horothy Hulese</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/03.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Consulting</a></h5>
                                <small>Horothy Hulese</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/04.jpg" data-sub-html="<h4 class='text-white'>Financial #04</h4><p>Lenthi Miloler</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/04.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Financial</a></h5>
                                <small>Lenthi Miloler</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/05.jpg" data-sub-html="<h4 class='text-white'>Consumer #05</h4><p>Horothy Hulese</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/05.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Consumer</a></h5>
                                <small>Horothy Hulese</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3" data-src="img/portfolio/06.jpg" data-sub-html="<h4 class='text-white'>Consultancy #06</h4><p>Buckle Giarza</p>">
                    <div class="portfolio-block position-relative overflow-hidden">
                        <img src="img/portfolio/06.jpg" alt="...">
                        <div class="detail">
                            <div class="content">
                                <h5><a href="#!">Consultancy</a></h5>
                                <small>Buckle Giarza</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- BLOG
    ================================================== -->
    <section data-scroll-index="6">
        <div class="container">

            <div class="section-title">
                <h2>Latest News</h2>
            </div>

            <div class="row blog-article">
                <div class="col-lg-6">
                    <div class="p-lg-1-9 p-xl-2-9">
                        <article class="box-shadow-large px-1-9 py-4 bg-white mb-1-9">
                            <div class="mb-2">
                                <span class="me-3 small"><i class="far fa-calendar-alt text-primary me-1"></i> 10 May, <script>document.write(new Date().getFullYear())</script></span>
                                <span class="small"><i class="far fa-comment text-primary me-1"></i> <a href="single-post.html">1 Comment</a></span>
                            </div>
                            <h3 class="mb-2 main-font"><a href="blog.html">Business adviser analyzing financial report of the companies.</a></h3>
                            <a href="blog.html"><small>read more...</small></a>
                        </article>
                        <article class="box-shadow-large px-1-9 py-4 bg-white">
                            <div class="mb-2">
                                <span class="me-3 small"><i class="far fa-calendar-alt text-primary me-1"></i> 19 Apr, <script>document.write(new Date().getFullYear())</script></span>
                                <span class="small"><i class="far fa-comment text-primary me-1"></i> <a href="single-post.html">2 Comments</a></span>
                            </div>
                            <h3 class="mb-2 main-font"><a href="blog.html">We dedicated largest financial services for all major sectors.</a></h3>
                            <a href="blog.html"><small>read more...</small></a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="bg-img cover-background h-100 rounded" data-overlay-dark="0" data-background="img/blog/blog-2.jpg"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- CLIENTS
    ================================================== -->
    <div class="section-clients bg-light-gray">
        <div class="container">
            <div class="owl-carousel owl-theme clients" id="clients">
                <div class="item"><img src="img/partners/client-01.png" alt="..."></div>
                <div class="item"><img src="img/partners/client-02.png" alt="..."></div>
                <div class="item"><img src="img/partners/client-03.png" alt="..."></div>
                <div class="item"><img src="img/partners/client-04.png" alt="..."></div>
                <div class="item"><img src="img/partners/client-05.png" alt="..."></div>
                <div class="item"><img src="img/partners/client-06.png" alt="..."></div>
            </div>
        </div>
    </div>

    <!-- FOOTER
    ================================================== -->
    <footer>
        <div class="container">
            <div class="row mt-n1-9">

                <div class="col-sm-6 col-lg-4 mt-1-9">
                    <address class="w-sm-85">202 Mainstreet, New York, 12th Floor.</address>
                    <ul class="contact-list list-unstyled">
                        <li>addyour@emailhere</li>
                        <li>(+44) 123 456 789</li>
                    </ul>

                    <div class="footer-social">
                        <ul class="ps-0">
                            <li><a href="#!"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-sm-6 col-lg-2 mt-1-9">
                    <h3>Company</h3>
                    <ul class="footer-list-style ps-0">
                        <li><a href="#!">About Us</a></li>
                        <li><a href="#!">Service</a></li>
                        <li><a href="#!">Contact</a></li>
                        <li><a href="#!">Price</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-2 mt-1-9">
                    <h3>Support</h3>
                    <ul class="footer-list-style ps-0">
                        <li><a href="#!">Privacy</a></li>
                        <li><a href="#!">Terms</a></li>
                        <li><a href="#!">Faq</a></li>
                        <li><a href="#!">Policy</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 mt-1-9">
                    <div class="ps-lg-1-9">
                        <h3>Subscribe to our Newsletter!</h3>

                        <form class="quform newsletter-form w-sm-90 mx-auto mx-lg-0" action="../../quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                            <div class="quform-elements">

                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element">
                                            <div class="quform-input">
                                                <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-white text-white m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>

                        </form>

                        <div class="mt-4">
                            <img src="img/logo-light.png" class="w-180px" alt="Crizal - Onepage Business Template" title="Crizal - Onepage Business Template">
                        </div>
                        <p class="text-white mt-4">&copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script> Crizal is Powered by <a href="#!" class="text-white">Chitrakoot Web</a></p>
                    </div>
                </div>

            </div>
        </div>

    </footer>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../../js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="../../js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="../../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../../js/jquery.counterup.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="../../js/jquery.magnific-popup.min.js"></script>

    <!-- stellar js -->
    <script src="../../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../../js/waypoints.min.js"></script>

    <!-- lightgallery js -->
    <script src="../../js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="../../js/jquery.mousewheel.min.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- quform plugins js -->
    <script src="../../quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>